<h1>Editing Treatment</h1>

<%= render 'form', treatment: @treatment %>

<%= link_to 'Ver tratamiento', @treatment, class: "btn btn-outline-warning mt-3" %> |
<%= link_to 'Regresar a tratamientos', treatments_path, class: "btn btn-outline-warning mt-3" %>
