<div class="container">
	<h1>Editing Medicine</h1>

	<%= render 'form', medicine: @medicine %>

	<%= link_to 'Ver medicamento', @medicine, class: "btn btn-outline-info mt-3" %> |
	<%= link_to 'Regresar a mediciamentos', medicines_path, class: "btn btn-outline-info mt-3" %>
</div>

