<div class="container mt-5">
	<h1>Nuevo Medicamento</h1>

	<%= render 'form', medicine: @medicine %>

	<%= link_to 'De vuelta a medicamentos', medicines_path, class: "btn btn-outline-info mt-3" %>	
</div>
