<h1>Editing Archive</h1>

<%= render 'form', archive: @archive %>

<%= link_to 'Ver archivo', @archive, class: "btn btn-outline-success mt-3" %> |
<%= link_to 'Regresar a archivos', archives_path, class: "btn btn-outline-success mt-3" %>
