<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Ver cita', @appointment, class: "btn btn-outline-dark mt-3" %> |
<%= link_to 'Regresar a citas', appointments_path, class: "btn btn-outline-dark mt-3" %>
